<launch>

    <!-- Params -->
    <arg name="rate" default="192000"/>
    <arg name="tdoa_window_length" default="1.0"/>
    <arg name="joystick_port" default="/dev/input/js0"/>
    <arg name="monitor_vehicle" default="duckieboat"/>

    <group ns="$(arg monitor_vehicle)">

        <!-- tdoa monitor-->
        <node pkg="visualization" type="tdoa_monitor.py" name="tdoa_monitor_node" output="screen">
            <param name="tdoa_window_length" type="double" value="$(arg tdoa_window_length)"/>
            <param name="rate" type="int" value="$(arg rate)"/>
        </node>

        <!-- Joystick -->
        <node pkg="joystick_control" type="joystick_control.py" name="joystick_control" />

        <node pkg="joy" type="joy_node" name="joy_node">
            <param name="dev" value="$(arg joystick_port)" />
        </node>


    </group>

    <!-- multi-master discovery-->
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery_node" output="screen">
        <param name="_mcast_group" value="224.0.0.1"/>
    </node>

    <!-- multi-master sync-->
    <node pkg="master_sync_fkie" type="master_sync" name="master_sync_node" output="screen">
    </node>



</launch>
